In [59]:
import pandas as pd

from provinces import bangkok_variations

In [26]:
data = {
    "name": ["Kan Ouivirach", "John Doe"],
    "location": ["กทม.", "กรุงเทพฯ"],
}

In [27]:
print(data)

{'name': ['Kan Ouivirach', 'John Doe'], 'location': ['กทม.', 'กรุงเทพฯ']}

In [28]:
df = pd.DataFrame(data)

In [47]:
df.head()

            name  location
0  Kan Ouivirach      กทม.
1       John Doe  กรุงเทพฯ

In [61]:
print(bangkok_variations)

['กทม.', 'กรุงเทพฯ']

In [60]:
def clean_thai_province(value):
    # if value == "กทม." or value == "กรุงเทพฯ":
    if value in bangkok_variations:
        return "Bangkok"

In [51]:
new_df = df.copy(deep=True)

In [55]:
new_df["location"] = df["location"].map(clean_thai_province)

In [56]:
new_df.head()

            name location
0  Kan Ouivirach  Bangkok
1       John Doe  Bangkok